<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teza_bid">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tera-Bid"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Rent11FormActivity"></activity>
        <activity android:name=".LoginActivityForBuyer" />
        <activity android:name=".SignupActivityForBuyer" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".Rent10FormActivity" />
        <activity android:name=".Rent9FormActivity" />
        <activity android:name=".Rent8FormActivity" />
        <activity android:name=".Rent7FormActivity" />
        <activity android:name=".Rent6FormActivity" />
        <activity android:name=".Rent5FormActivity" />
        <activity android:name=".Rent4FormActivity" />
        <activity android:name=".Rent3FormActivity" />
        <activity android:name=".Rent2FormActivity" />
        <activity android:name=".Rent1FormActivity" />
        <activity android:name=".RentFormActivity" />
        <activity android:name=".RoomActivity" />
        <activity android:name=".EstateActivity" />
        <activity android:name=".CarActivity" />
        <activity android:name=".HouseActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>